[submodule "tests/fixtures/checksum/git-success"]
	path = tests/fixtures/checksum/git-success
	url = git@github.com:relrod/ansible-signatory
	branch = fixture/git-success
[submodule "tests/fixtures/checksum/git-files-added"]
	path = tests/fixtures/checksum/git-files-added
	url = git@github.com:relrod/ansible-signatory
	branch = fixture/git-files-added
[submodule "tests/fixtures/checksum/git-files-added-removed"]
	path = tests/fixtures/checksum/git-files-added-removed
	url = git@github.com:relrod/ansible-signatory
	branch = fixture/git-files-added-removed
[submodule "tests/fixtures/checksum/git-files-removed"]
	path = tests/fixtures/checksum/git-files-removed
	url = git@github.com:relrod/ansible-signatory
	branch = fixture/git-files-removed
[submodule "tests/fixtures/checksum/git-files-changed"]
	path = tests/fixtures/checksum/git-files-changed
	url = git@github.com:relrod/ansible-signatory
	branch = fixture/git-files-changed
