---
# vim: syn=yaml
extends: default
rules:
  empty-lines:
    ignore: |
      tests/fixtures/gpg/hao-*/hello_world.yml
  document-start:
    ignore: |
      tests/fixtures/gpg/hao-*/hello_world.yml
  line-length:
    ignore: |
      .github
  truthy:
    ignore: |
      .github

ignore: |
  .tox
strict: true
