---
name: ansible-sign tests
on:  # yamllint disable-line rule:truthy
  push:
  pull_request:

jobs:
  python-tests:
    name: Python ${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - python: "3.8"
            os: ubuntu-latest
          - python: "3.9"
            os: ubuntu-latest
          - python: "3.10"
            os: ubuntu-latest
          - python: "3.11"
            os: ubuntu-latest
          - python: "3.12"
            os: ubuntu-latest
          - python: "3.10"
            os: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install system packages (linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update && \
          sudo apt-get -y install \
            tmux \
            ;

      - name: Install system packages (macos)
        if: matrix.os == 'macos-latest'
        run: |
          brew install \
            tmux \
            gpg \
            ;
          which -a gpg
          gpg --version

      - name: Install tox
        run: pip install tox

      - name: Run tests
        run: tox -e py3

      - name: Ensure docs build
        run: tox -e docs
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install tox
        run: pip install tox

      - name: Run linters
        run: tox -e lint
